  <div id="actions_with_variables">
    <h3><%= t("gamification.configuration.action_variables_assigments") %></h3>
    
    <table>
      <thead>
        <tr>
          <th><%= t("gamification.action_variable.action") %></td>
          <th><%= t("gamification.action_variable.variable") %></td>
          <th><%= t("gamification.action_variable.eval_string") %></td>
        </tr>
      </thead>
      <tbody>
      <% @actions_variables.each do |av| %>
        <tr>
          <td><%= av.action_id %>
          <td><%= av.variable %><%="*" if av.required?%></td>
          <td><%= text_field_tag("action_variables[#{av.action_id}][#{av.variable}]", av.eval_string) %></td>  
        </tr>    
      <% end %>
      </tbody>
    </table>
    * = <%= t("gamification.action_variable.required") %>
  </div>  

