  <div id="events_to_actions">
    <table>
      <thead>
        <tr>
          <th><%= t("gamification.configuration.event_from_redmine") %></th>
          <th><%= t("gamification.configuration.action_to_play") %></th>
        </tr>
      </thead>
      <tbody>
      <% @events_to_actions.each do |e2a| %>
        <tr>
          <td>
            <%= select_tag("events_to_actions[][event_id]", options_for_event_select(e2a.event_id) ) %>
          </td>
          <td>
            <%= select_tag("events_to_actions[][action_id]", options_for_action_select(e2a.action_id) ) %>
          </td>  
        </tr>    
      <% end %>
      </tbody>
    </table>

    <%= t("gamification.configuration.more_blank_after_submit") %>
  </div>  
