  <div id="users_to_players">
    <table>
      <thead>
        <tr>
          <th><%= t("gamification.configuration.user_from_redmine") %></th>
          <th><%= t("gamification.configuration.player_to_link") %></th>
        </tr>
      </thead>
      <tbody>
      <% @users_to_players.each do |u2p| %>
        <tr>
          <td>
            <%= select_tag("users_to_players[][user_id]", options_for_user_select(u2p.user_id) ) %>
          </td>
          <td>
            <%= select_tag("users_to_players[][player_id]", options_for_player_select(u2p.player_id) ) %>
          </td>  
        </tr>    
      <% end %>
      </tbody>
    </table>

    <%= t("gamification.configuration.more_blank_after_submit") %>
  </div>  
