<%= stylesheet_link_tag '/gamification.css', plugin: 'redmine_gamification_playlyfe', media: 'screen' %>

<%= render partial: "shared_links" %>

<h2><%= t("gamification.configuration.header") %></h2>

<div id="gamification">
<%= form_tag(gamification_configuration_update_url, method: :put) do %>

  <%= render partial: "event_to_actions_fields" %>  
  <%= render partial: "users_to_players_fields" %>

  <div class="actions">
    <%= submit_tag  t("gamification.configuration.save_configuration_button") %>
  </div>
<% end %>
</div>
