 <%= form_tag(gamification_configuration_update_url, method: :put) do %>
  <div>
    <table>
    <% @users_to_players.each do |u2p| %>
      <%= fields_for 'users_to_players[]', u2p do |up| %>
      <tr>
        <td>
          <%= up.select :user_id, options_for_user_select(up.object.user_id) %>
        </td>
        <td>
          <%= up.select :player_id, options_for_player_select(up.object.player_id) %>
        </td>  
      </tr>    
      <% end %>
    <% end %>
    </table>
  </div>  

   
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
